<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="All of RM's Personnel">

    <title>Roblox's Myths | Personnel</title>
    <link id="favicon" rel="icon" href="https://media.discordapp.net/attachments/673704258566094863/750389856026492938/RMWhite.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/style.css">
    <script src="../public/client.js" defer></script>
  </head>
  <body>
    <div class = "wrapper">
        <nav class = "navbar">
            <div class = "brand-title">Roblox's Myths</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class = "navbar-links">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/personnel">Personnel</a></li>
                    <li><a href="/database">Myth Database</a></li>
                    <li><a href="/applications">Applications</a></li>
                    <li><a href="/events">Events</a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>
